@import "tailwindcss";
@import "../../../../packages/config/src/themes/lila-theme.css";
@source "../../../../packages/ui";

@theme {
  /* Marketing Site specific font override */
  --font-family-sans: var(--font-koho), "Geist", sans-serif;
  --font-family-mono: var(--font-geist-mono), monospace;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
